<div class="2 d-none" id="content">
<form>
    <div class="form-row align-items-center my-5 m-5">
      <div class="col-sm-3 my-1">
        <input type="text" class="form-control" id="uuid_graph" placeholder="UID">
      </div>
      <div class="col-sm-3 my-1">
        <select id="field" class="form-control">
          <option value="tempreture" >Temperature</option>
          <option value="humidity" >humidity</option>
          <option value="CO2" >CO2</option>
        </select>
      </div>
        <div class="col-sm-2 my-1">
          <input type="date" class="form-control" id="start_date" placeholder="form">
        </div>
        <div class="col-sm-2 my-1">
          <div class="input-group">
            <input type="date" class="form-control" id="end_date" placeholder="to">
          </div>
        </div>
        <div class="col-auto my-1">
          <button type="submit" class="btn btn-primary" id = "senddata">Submit</button>
        </div>
        <div class="col-auto my-1">
          <button type="submit" class="btn btn-primary" id = "print_graph">Print</button>
        </div>
      </div>
  </form>


<div class="row">

    <div class="col-xl-12 col-lg-7">

        <!-- Area Chart -->
        <div class="card shadow mb-4" id="pdf">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
            </div>
            <div class="card-body canvas_div_pdf" >
                <div class="chart-area" id="graph_div">
                    <canvas id="myAreaChart"></canvas>
                </div>
                <hr>
                Styling for the area chart can be found in the
                <code>/js/demo/chart-area-demo.js</code> file.
            </div>
        </div>
    </div>

    <div class="col-12 m-2 alert alert-primary text-center" role="alert">
      Print Report : <button type="submit" class="btn btn-primary" id = "print_table">Print</button>
    </div>
    <table class="table table-striped m-1" id="table_pdf">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Uuid</th>
          <th scope="col">Tempreture</th>
          <th scope="col">CO2</th>
          <th scope="col">Battery</th>
        </tr>
      </thead>
      <tbody id="table-report">
      </tbody>
    </table>



<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

<script>


    $(document).ready(function () {


        {% comment %} // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

// Area Chart Example
function graph (label,data1){
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: label,
    datasets: [{
      label: "Earnings",
      lineTension: 0.3,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: data1,
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return  number_format(tooltipItem.yLabel);
        }
      }
    }
  }
});};


      var y;

        function create_token(){         
          var payload = {
            "username":"admin",
            "password":"admin"
        };

          $.ajax({
            url: "/api/token/",
            async: false,
            type: "POST",
            data: JSON.stringify(payload),
            cache: false,
            processData: false,
            contentType: "application/json",
            success: function (data) {
                // store tokens in localStorage
                //x=window.localStorage.setItem('refreshToken', data['refresh']);
                window.localStorage.setItem('accessToken', data['access']);
                y = data['access']
                //console.log(y);
            },
            error: function (rs, e) {
                console.error(rs.status);
                console.error(rs.responseText);
            }
        });
      };



$("#senddata").click(function (e) {
  e.preventDefault();
  create_token();
  var payload_add = {
    uuid: $("#uuid_graph").val(),
    field: $("#field").val(),
    start_date: $("#start_date").val(),
    end_date: $("#end_date").val(),    
  };
  headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
  $.ajax({
    url: "/graph"+"/",
    headers: headers_payload,
    type: "POST",
    data: JSON.stringify(payload_add),
    success: function (data, textStatus, jqXHR) {
      
      var label1 = [];
      var data2 = [];
      

      for (let i = 0; i < data.length; i++) {
        label1.push(data[i]["fields"]["date"]);
        data2.push(data[i]["fields"][payload_add.field]);

        var uuid = data[i]['fields']['uuid'];
        var battery = data[i]['fields']['battery'];
        var tempreture = data[i]['fields']['tempreture'];
        var humidity = data[i]['fields']['humidity'];
        var CO2 = data[i]['fields']['CO2'];
        var date = data[i]['fields']['date'];
        var time = data[i]['fields']['time'];
        var battery = data[i]['fields']['battery'];

        $("#table-report").append(`<tr>
          <th scope="row">${i}</th>
          <td>${date}</td>
          <td>${time}</td>
          <td>${uuid}</td>
          <td>${tempreture}</td>
          <td>${CO2}</td>
          <td>${battery}</td>
        </tr>`);

      };
      $("#myAreaChart").remove()
      $("#graph_div").append(`<canvas id="myAreaChart"></canvas>`)
      graph (label1,data2);

    },
    error: function (jqXHR, textStatus, errorThrown) {
      alert(errorThrown);
    },

  });});


  $("#print_graph").click(function (e){
    e.preventDefault();
    var HTML_Width = $("#pdf").width();
		var HTML_Height = $("#pdf").height();
		var top_left_margin = 15;
		var PDF_Width = HTML_Width+(top_left_margin*2);
		var PDF_Height = (PDF_Width*1.5)+(top_left_margin*2);
		var canvas_image_width = HTML_Width;
		var canvas_image_height = HTML_Height;
		
		var totalPDFPages = Math.ceil(HTML_Height/PDF_Height)-1;
		

		html2canvas($(".canvas_div_pdf")[0],{allowTaint:true}).then(function(canvas) {
			canvas.getContext('2d');
			
			console.log(canvas.height+"  "+canvas.width);
			
			
			var imgData = canvas.toDataURL("image/jpeg", 1.0);
			var pdf = new jsPDF('p', 'pt',  [PDF_Width, PDF_Height]);
		    pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin,canvas_image_width,canvas_image_height);
			
			
			for (var i = 1; i <= totalPDFPages; i++) { 
				pdf.addPage(PDF_Width, PDF_Height);
				pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
			}
			
		    pdf.save("HTML-Document.pdf");
        });
  
});


$("#print_table").click(function (e){
  e.preventDefault();
  var HTML_Width = $("#table_pdf").width();
  var HTML_Height = $("#table_pdf").height();
  var top_left_margin = 15;
  var PDF_Width = HTML_Width+(top_left_margin*2);
  var PDF_Height = (PDF_Width*1.5)+(top_left_margin*2);
  var canvas_image_width = HTML_Width;
  var canvas_image_height = HTML_Height;
  
  var totalPDFPages = Math.ceil(HTML_Height/PDF_Height)-1;
  

  html2canvas($("#table_pdf")[0],{allowTaint:true}).then(function(canvas) {
    canvas.getContext('2d');
    
    console.log(canvas.height+"  "+canvas.width);
    
    
    var imgData = canvas.toDataURL("image/jpeg", 1.0);
    var pdf = new jsPDF('p', 'pt',  [PDF_Width, PDF_Height]);
      pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin,canvas_image_width,canvas_image_height);
    
    
    for (var i = 1; i <= totalPDFPages; i++) { 
      pdf.addPage(PDF_Width, PDF_Height);
      pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
    }
    
      pdf.save("Document.pdf");
      });

});

}) {% endcomment %}


</script>

</div>